@font-face{
    font-family: Bahnschrift;
    src: 'font/BAHNSCHRIFT.TTF';
}

body {
    font-family: Bahnschrift;
    margin: 20px;
    background-color: #FFFCF9;
}

h1 {
    color: #246A73;
}

h2 {
    color: #2CB59C;
}

#info {
    align-self: center;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}
  